name: Create Java Release Workflow

on:
  workflow_call:
    inputs:
      workingDirectory:
        required: false
        type: string
        default: '.'
      javaVersion:
        required: false
        type: string
        default: '21'
      dockerSupport:
        required: false
        type: boolean
        default: false
      generateRelease:
        required: false
        type: boolean
        default: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workingDirectory }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.javaVersion }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Setup Docker (Optional)
        if: ${{ inputs.dockerSupport }}
        uses: docker/setup-buildx-action@v3
      - name: Build Gradle
        run: ./gradlew build
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.NIMBOX_PUBLISH_TOKEN }}
      - name: Publish to GitHub Packages
        run: ./gradlew publish
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.NIMBOX_PUBLISH_TOKEN }}
      - name: Create release
        if: ${{ inputs.generateRelease }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${GITHUB_REPOSITORY#*/} ${tag#v}" \
              --generate-notes
