name: Create Node Release Workflow

on:
  workflow_call:
    inputs:
      workingDirectory:
        required: false
        type: string
        default: '.'
      nodeVersion:
        required: false
        type: string
        default: '20'
      generateRelease:
        required: false
        type: boolean
        default: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.workingDirectory }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.nodeVersion }}
          registry-url: 'https://npm.pkg.github.com/'
          scope: '@nimbox'
      - name: Build package
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NIMBOX_PUBLISH_TOKEN }}
        run: |
          npm ci
          npm run build
      - name: Publish to GitHub Packages
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NIMBOX_PUBLISH_TOKEN }}
        run: npm publish
  create-release:
    needs: build-and-publish
    if: ${{ inputs.generateRelease }}
    uses: nimbox/build-tools/.github/workflows/create-release.yaml@main
    secrets: inherit
